.admin-layout {
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin: 0vw 9vw;
}

.form1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 4px;
}

textarea {
    border: none;
    color: white;
    border: 0.1vw solid white;
    background-color: transparent;
    border-radius: 8px;
    padding: 0.5vw 0.8vw;
    text-align: start;
}

input {
    border: none;
    color: white;
    border: 0.1vw solid white;
    background-color: transparent;
    border-radius: 8px;
    padding: 0.5vw 0.8vw;
    width: 29vw;
    text-align: start;
}

.form2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.FormBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.FormBtn button {
    border: none;
    padding: 0.5vw 1.5vw;
    border-radius: 8.5px;
    color: black;
    font-size: 1.3vw;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2vw;
    background-color: lightgreen;
}

.emyData {
    height: 25vw;
    margin: 2vw 9vw 0vw;
    border-radius: 12px;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow: scroll;
}
.table-data {
    display: flex;
    background-color: crimson;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: center;
    gap: 250px;
    padding: 20px 12px;
}
#tbl {
    display: flex;
    padding: 2vw 4vw;
    gap: 300px;
    margin: 30px;
    border: 1px solid rgba(237, 237, 237, 0.268);
    border-radius: 12px;
}